@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:wght@400;500;700&display=swap");
/* 
  font-family: 'Montserrat', sans-serif;
  weight 500 and italic

font-family: 'Roboto', sans-serif;
  weight 400/500/700
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  height: 100dvh;
  background-color: #dedede;
}

.gradient-text {
  background: linear-gradient(to right, #ca419e, #7035ff, #ca419e, #7035ff);
  background-size: 300% 300%;
  background-clip: text;
}
